body {
    background-color: lightcyan;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%;
    margin: auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 3%;
  }

  #nav-bar p {
    display: inline-block;
    padding-inline: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  
  #nav-bar a {
    text-decoration: none;
    color: midnightblue;
  }
  
  section, footer {
    width: 35vw;
    text-align: center;
    margin: auto;
  }

  section {
    padding: 10%;
  }

h1, h2 {
  color: #ee5253;
}