body {
    background-color: lightcyan;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 100%;
    margin: auto;
}
    
header {
    overflow: hidden;
    justify-content: space-between;
/* Setting the header (in which the navbar is included) to fixed position. */
    position: fixed;
    background-color: lightcyan;
/* Header (in which the navbar is included) at the top of the page. */
    top: 0;
/* Full width */
    width: 100%;
/* Centering text */
    text-align: center;
}

#header-img {
    padding: 2%
}

#nav-bar p {
    display: inline-block;
    padding-inline: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
    
#nav-bar a {
    text-decoration: none;
    color: midnightblue;
}

/* Color change when mouse pointer is over link menu */
#nav-bar a:hover {
    color: #f368e0;
}

/* Adding top margin to avoid content overlay */
.parent-section {
    margin-top: 15%;
}

main p {
    font-size: 1vw;
    font-weight: bold;
} 

div, footer {
    width: 35vw;
    text-align: center;
    margin: auto;
}
  
section {
    padding: 35% 0% 35% 0%;
}

section p {
    padding: 0% 5% 2% 5%;
}

/* Applying CSS flexbox to paragraphs of the first section (features)*/
#features {
    display: flex;
    flex-direction: column;
}
  
div {
    padding-top: 0%;
    padding-bottom: 3%;
}
  
h1, h2 {
    color: #ee5253;
  }
  
#email, #submit {
    font-size: 1.2vw;
}
  
#submit:hover {
    background-color: #ee5253;
    color: white;
    cursor: pointer;
}

/* Applying Media Query to logo image */ 
@media (max-width: 640px){
    #header-img {
      block-size: 10vw;
    }
}

/* Applying Media Query to embedded video */
@media (max-width: 640px){
    div, footer {
        width: 80vw;
    }

    #video {
      height: auto;
      width: auto;
    }
}